body {
  font-family: 'Nunito', sans-serif;
  background: #F8F8F8;
}

#homePage {
  font-family: 'Nunito', sans-serif;
}
  #header {
    font-family: 'Nunito', sans-serif;
    background-color: #fff;
  }

  .nav-link.router-link-active {
      color: #DE3131 !important;
      transition: all .625s !important;
  }

  .router-link-active::after {
    content: "";
    display: block;
    width: 85%;
    height: 36px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(222, 49, 49, 0.1) 100%);
    margin-top: 0px;
    border-bottom: 4px solid rgba(222,49,49,.6);
    margin-right: auto;
    transition: all .625s !important;
}

  .is-navbar {
    box-shadow: none;
    padding: 0 1rem;
  }

  .is-navbar__brand {
    margin: 30px auto;
  }

  .is-navbar__collapse {
    margin-left: 87px !important;
    margin-bottom: -70px;
  }

  .nav-link {
    font-weight: bold;
    transition: all .625s !important;
  }

  .nav-link:hover {
    color: #DE3131 !important;
    transition: all .625s !important;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    width: 85%;
    height: 36px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(222, 49, 49, 0.1) 100%);
    margin-top: 0px;
    border-bottom: 4px solid rgba(222,49,49,.6);
    margin-right: auto;
    transition: all .625s !important;
  }

  /* homePageServices component */


    .is-btn {
      background: linear-gradient(180deg, #F86A6A 0%, #DE3131 100%);
      box-shadow: 0px 3px 0px #AF1A1A;
      border-radius: 5px;
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 1em;
      line-height: 100%;
      color: #FFFFFF;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
      text-transform: none;
      transition: all 1s;
      width:240px;
      text-align:center;
    }

    .is-btn:hover {
      background: linear-gradient(0deg, #F86A6A 0%, #DE3131 100%);
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 3px 0px #AF1A1A;
      color: #fff;
      transition: all 1s;
    }

    #services {
      padding: 5.625em 0;
      background: #F8F8F8;
    }

.is-services h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  color: #3F3E3E;
  padding-left: 1rem;
}

.is-services__items {
  margin-top: 3.125em;
}

.is-services__items .card {
  z-index: 20;
  background: #FFFFFF;
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.is-services__item {
  max-height: 110px;
  overflow: hidden;
  transition: all 1s !important;
  padding: .5em;
}

.is-services__item-content {
  border: 2px solid #F1F1F1;
  border-radius: 6px;
  min-height: 94px;
  max-height: 94px;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 1s;
}

.is-services__items .is-services__item-bg {
  position: absolute;
  top: 0;
  background: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  max-width: 334px;
  width: 100%;
  margin-left: 2.5%;
  max-height: 110px;
  height: 100%;
  margin-top: 21px;
  z-index: 10;
}

.is-services__item-content div {
  display: flex;
  align-items: center;
}

.is-services__item-content div p {
  margin-bottom: 0;
}

.is-services__item-content div p:first-child {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #3F3E3E;
  max-width: 200px;
}

.is-services__item-content img {
  margin-right: 20px;
  margin-left: 10px;
}

.is-services__item-chevron {
  right: 30px;
  position: absolute;
}

.is-services__item-content i {
  color: #DE3131;
  transition: all 1s;
  margin-left: 1em;
}

.is-services__item-description {
  display: none;
}

.is-btn {
  display: none;
}

.is-services__item:hover .is-services__item-content div p {
  display: none;
}

.is-services__item:hover {
  z-index: 100 !important;
  max-height: 146px;
  height: 146px !important;
  transition: all 1s;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
}

.is-services__item:hover .is-services__item-content .is-btn {
  display: block;
  position: absolute;
  top: 26px;
  right: 30px;
  max-width: 200px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 1s;
}

.is-services__item:hover .is-services__item-description {
  display: -webkit-inline-block;
  display: -ms-inline-block;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 40px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  color: #898989;
  max-width: 271px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.is-services__item:hover .is-services__item-content {
  border: 2px solid #F1F1F1;
  border-radius: 6px;
  min-height: 94px;
  max-height: 142px;
  height: 100%;
}

.is-services__item:hover img {
  position: absolute;
  top: 30px;
  left: 30px;
}

/* homePageSlider component */


  #slider {
    background: linear-gradient(113.1deg, #BB2B2B 8.15%, #FA5D5D 90.74%);
    font-family: 'Nunito', sans-serif;
    padding: 32px 0;
  }

  .is-slider__text {
    text-align:left;
    padding: 69px 0;
  }

  .is-btn-out {
    box-shadow: none;
    margin: 0;
    color: #fff;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    text-transform: none;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    transition: all .625s;
  }

  .is-btn-out:hover {
    box-shadow: none;
    color: #DE3131;
    background: #fff;
    transition: all .625s;
  }

  .is-btn i {
    margin-left: .5em;
  }

  .is-slider__text h2 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 120%;
    color: #FFFFFF;
  }

  .is-slider__text p {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    margin-top: 2.5em;
    line-height: 140%;
    color: #FFFFFF;
  }

  /* footerTpl component */
   #footer {
     background: #F1F1F1;
   }
