body {
  font-family: 'Nunito', sans-serif;
  background: #F8F8F8;
}

#homePage {
  font-family: 'Nunito', sans-serif;
}
  #header {
    font-family: 'Nunito', sans-serif;
    background-color: #fff;
  }

  .nav-link.router-link-active {
      color: #DE3131 !important;
      transition: all .625s !important;
  }

  .router-link-active::after {
    content: "";
    display: block;
    width: 85%;
    height: 36px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(222, 49, 49, 0.1) 100%) !important;
    margin-top: 0px;
    border-bottom: 4px solid rgba(222,49,49,.6) !important;
    margin-right: auto;
    transition: all .625s !important;
}

.dropdown-item.router-link-active::after {
  display: none;
}

.dropdown-item.router-link-active {
  background: #DB4444 !important;
  transition: all .625s ease-in-out;
}

  .is-navbar {
    box-shadow: none;
    padding: 0 1rem;
  }

  .is-navbar__brand {
    margin: 30px auto;
  }

  .is-navbar__collapse {
    margin-left: 87px !important;
  }

  .is-navbar__collapse .row .col-md-12:first-child {
    position:relative;
    bottom:-10px;
    margin-left:5px;
  }

  .is-navbar__collapse .row .col-md-12:last-child {
    position:relative;
    top:22px;
  }

  .is-navbar__collapse .row .col-md-12:first-child a:first-child {
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: #3F3E3E;
  }

  .is-navbar__collapse .row .col-md-12:first-child a i {
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    font-size: .81rem;
    background: #F5F5F5;
    color: #DE3131;
    transition: all .5s;
  }

  .is-navbar__collapse .row .col-md-12:first-child a:first-child i {
    padding: .4375rem .5625rem;
  }

  .is-navbar__collapse .row .col-md-12:first-child a:last-child {
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: #3F3E3E;
    margin-left: 1em;
  }

  .is-header__callback {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #DE3131;
  }

  .is-header__callback:hover {
    color: #DE3131;
  }

  .is-header__callback span::after {
      content: "";
      display: block;
      width: 45%;
      height: 1px;
      margin-top: -3px;
      border-bottom: 2px dashed #DE3131;
      margin-left: 2em;
      transition: all .625s !important;
      transition: all .5s;
  }

  .is-header__callback:hover span::after {
    display: none;
  }

  .is-header__callback img {
    margin-right: .5em;
  }

  .is-navbar__collapse .row .col-md-12:first-child a:last-child i {
    padding: 8px;
  }

  .is-navbar__collapse .row .col-md-12:first-child a:hover i {
    color: #F5F5F5;
    background: #DE3131;
    transition: all .5s;
  }

  .nav-item {
    margin-right: 1.65em;
  }

  .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }

  .is-dd-menu {
    display: none;
    position: absolute;
		top: 68px;
    background: #F86A6A;
    z-index: 100;
    padding-left: 0;
    list-style: none;
    margin-left: .5em;
    max-width: 300px;
  }

  .is-dd-menu a {
    list-style: none !important;
    white-space: pre-line;
    text-align: left;
  }

  .is-dd-menu a::before {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 10px;
    background-image: url(../img/listStyle.svg);
    background-repeat: no-repeat;
    content: "";
    display: block;
  }

  ul li:hover > ul {
    display: inherit !important;
    transition: height 1s ease-in-out;
  }

  ul ul a {
  	min-width:170px;
  	float:none;
  	display:inline-block;
  	position: relative;
    font-family: Nunito !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 15px !important;
    line-height: 110% !important;
    color: #FFFFFF !important;
    padding: .5em 2em !important;
    transition: all .625s ease-in-out;
}

ul ul a:hover {
  background: #DB4444 !important;
  transition: all .625s ease-in-out;
}

  .is-footer__collapse {
    margin-left: 100px !important;
  }

  .is-footer__collapse .col-md-8 .row .col-md-8:first-child {
    position:relative;
    margin-left:5px;
  }

  .is-footer__collapse .row .col-md-12:last-child {
    position:relative;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:first-child a:first-child {
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: #3F3E3E;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:first-child a i {
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    font-size: .81rem;
    background: #FFF;
    color: #DE3131;
    transition: all .5s;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:first-child a:first-child i {
    padding: .4375rem .5625rem;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:first-child a:last-child {
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: #3F3E3E;
    margin-left: 1em;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:first-child a:last-child i {
    padding: 8px;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:first-child a:hover i {
    color: #F5F5F5;
    background: #DE3131;
    transition: all .5s;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:last-child a {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    border-radius: 50%;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:last-child a:nth-child(1) i {
    background-color: #5181B8;
    color: #fff;
    padding: 10.5px 9.75px;
    border-radius: 50%;
    transition: all .5s;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:last-child a:nth-child(1) i:hover {
    color: #5181B8;
    background-color: #fff;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:last-child a:nth-child(2) i {
    background-color: #3B5998;
    color: #fff;
    padding: 10.5px 13px;
    border-radius: 50%;
    transition: all .5s;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:last-child a:nth-child(2) i:hover {
    color: #3B5998;
    background-color: #fff;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:last-child a:nth-child(3) i {
    background-color: #F7931E;
    color: #fff;
    padding: 10.5px 13px;
    border-radius: 50%;
    transition: all .5s;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:last-child a:nth-child(3) i:hover {
    color: #F7931E;
    background-color: #fff;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:last-child a:nth-child(4) i {
    background-color: #005FF9;
    color: #fff;
    padding: 10.5px 10.5px;
    border-radius: 50%;
    transition: all .5s;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:last-child a:nth-child(4) i:hover {
    color: #005FF9;
    background-color: #fff;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:last-child a:nth-child(5) i {
    background-color: #41ABE1;
    color: #fff;
    padding: 10.5px 10.5px;
    border-radius: 50%;
    transition: all .5s;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:last-child a:nth-child(5) i:hover {
    color: #41ABE1;
    background-color: #fff;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:last-child a:nth-child(6) i {
    background: linear-gradient(225deg, #AB35B4 0%, #F99B3B 100%);
    color: #fff;
    padding: 10.5px 11.31px;
    border-radius: 50%;
    transition: all .5s;
  }

  .is-footer__collapse .col-md-8 .row .col-md-12:last-child a:nth-child(6) i:hover {
    color: #AB35B4;
    background: #fff;
  }
  .is-footer__phone {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    text-align: right;
    letter-spacing: 0.02em;
    color: #3F3E3E;
    transition: all .5s;
    margin-top: 1em;
  }

  .is-header__phone {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 100%;
    text-align: right;
    letter-spacing: 0.02em;
    color: #3F3E3E;
    transition: all .5s;
    margin-left: 0 !important;
  }

  .is-footer__phone:hover, .is-header__phone:hover {
    color: #DE3131 !important;
  }

  .is-footer__dev-link {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
    color: #DE3131;
    transition: all .5s;
  }

  .is-footer__dev-link:hover {
    color: #3F3E3E;
  }

  .is-footer__dev-img {
    max-width: 41px;
    margin-left: .5em;
    color: #DE3131;
    background: ;
  }

  .nav-link {
    font-weight: bold;
    transition: all .625s !important;
  }

  .nav-link:hover {
    color: #DE3131 !important;
    transition: all .625s !important;
  }

  .nav-link::after {
    content: "";
    display: block;
    width: 85%;
    height: 36px;
    background: transparent;
    margin-top: 0px;
    border-bottom: 4px solid transparent;
    margin-right: auto;
    transition: all .625s !important;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    width: 85%;
    height: 36px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(222, 49, 49, 0.1) 100%);
    margin-top: 0px;
    border-bottom: 4px solid rgba(222,49,49,.6);
    margin-right: auto;
    transition: all .625s !important;
  }

  /* homePageServices component */


    .is-btn {
      background: linear-gradient(180deg, #F86A6A 0%, #DE3131 100%);
      box-shadow: 0px 3px 0px #AF1A1A;
      border-radius: 5px;
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 1em;
      line-height: 100%;
      color: #FFFFFF;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
      text-transform: none;
      transition: all 1s;
      width:240px;
      text-align:center;
    }

    .is-btn:hover {
      background: linear-gradient(0deg, #F86A6A 0%, #DE3131 100%);
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 3px 0px #AF1A1A;
      color: #fff;
      transition: all 1s;
    }

    #services {
      padding: 5.625em 0;
      background: #F8F8F8;
    }

.is-services h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  color: #3F3E3E;
  padding-left: 1rem;
}

.is-services__items {
  margin-top: 3.125em;
}

.is-services__items .card {
  z-index: 20;
  background: #FFFFFF;
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.is-services__item {
  max-height: 110px;
  overflow: hidden;
  transition: all 1s !important;
  padding: .5em;
}

.is-services__item-content {
  border: 2px solid #F1F1F1;
  border-radius: 6px;
  min-height: 94px;
  max-height: 94px;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 1s;
}

.is-services__items .is-services__item-bg {
  position: absolute;
  top: 0;
  background: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  max-width: 334px;
  width: 100%;
  margin-left: 2.5%;
  max-height: 110px;
  height: 100%;
  margin-top: 21px;
  z-index: 10;
}

.is-services__item-content div {
  display: flex;
  align-items: center;
}

.is-services__item-content div p {
  margin-bottom: 0;
}

.is-services__item-content div p:first-child {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #3F3E3E;
  max-width: 200px;
}

.is-services__item-content img {
  margin-right: 20px;
  margin-left: 10px;
}

.is-services__item-chevron {
  right: 30px;
  position: absolute;
}

.is-services__item-content i {
  color: #DE3131;
  transition: all 1s;
  margin-left: 1em;
}

.is-services__item-description {
  display: none;
}

.is-btn {
  display: none;
}

.is-services__item:hover .is-services__item-content div p {
  display: none;
}

.is-services__item:hover {
  z-index: 100 !important;
  max-height: 146px;
  height: 146px !important;
  transition: all 1s;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
}

.is-services__item:hover .is-services__item-content .is-btn {
  display: block;
  position: absolute;
  top: 26px;
  right: 30px;
  max-width: 200px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 1s;
}

.is-services__item:hover .is-services__item-description {
  display: -webkit-inline-block;
  display: -ms-inline-block;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 40px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  color: #898989;
  max-width: 271px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.is-services__item:hover .is-services__item-content {
  border: 2px solid #F1F1F1;
  border-radius: 6px;
  min-height: 94px;
  max-height: 142px;
  height: 100%;
}

.is-services__item:hover img {
  position: absolute;
  top: 30px;
  left: 30px;
}

/* homePageSlider component */


  #slider {
    background: linear-gradient(113.1deg, #BB2B2B 8.15%, #FA5D5D 90.74%);
    font-family: 'Nunito', sans-serif;
    padding: 32px 0;
  }

  .is-slider__text {
    text-align:left;
    padding: 69px 0;
  }

  .is-btn-out {
    box-shadow: none;
    margin: 0;
    color: #fff;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    text-transform: none;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    transition: all .625s;
  }

  .is-btn-out:hover {
    box-shadow: none;
    color: #DE3131;
    background: #fff;
    transition: all .625s;
  }

  .is-btn i {
    margin-left: .5em;
  }


    .is-carousel-wrap {
      max-width:1140px;
      overflow:hidden;
      margin:0 auto;
      position: relative;
    }

    .is-carousel {
      display: flex;
      transition: all .5s ease-in-out;
    }
     .is-carousel-item {
       width: 100% !important;
     }

  .is-slider__text h2 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 120%;
    color: #FFFFFF;
  }

  .is-slider__text p {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    margin-top: 2.5em;
    line-height: 140%;
    color: #FFFFFF;
  }

  .is-slide-prev, .is-slide-next {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    transition: all .5s ease-out !important;
    position: absolute;
    background: none;
    top: calc(50% - 22.5px);
    padding-right: .5em;
    padding-left: .5em;
  }

  .is-slide-next {
    right: 1em;
  }

  .is-slide-prev {
    left: 1em;
  }

  .is-slide-prev:hover, .is-slide-next:hover {
    transition: all .5s ease-in !important;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .is-slide-prev:focus, .is-slide-next:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .is-slide-prev i, .is-slide-next i {
    opacity: .1;
  }

  .is-slide-prev:hover i, .is-slide-next:hover i {
    font-size: 3em;
    transition: all .5s ease-in-out !important;
    opacity: 1;
  }

  /* homePageAbout component */

  .is-about {
    background: #fff;
  }

  .is-about__row {
    margin-left: 0;
    margin-right: 0;
  }

  .is-about__text {
    padding-left: 8.4375em;
    padding-right: 6.25em;
    padding-bottom: 5.625em;
    padding-top: 5.625em;
  }

  .is-about__text h2 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    color: #3F3E3E;
  }

  .is-btn-more {
    background: linear-gradient(180deg, #F7F2F2 0%, #E1DBDB 100%);
    box-shadow: 0px 3px 0px #D0C9C9;
    border-radius: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #3F3E3E;
    text-shadow: 0px 1px 0px #F1F1F1;
    text-transform: none;
    padding-right: .5em;
    padding-left: .9em;
    padding-bottom: .625em;
    max-width: 220px;
    display: inline-flex;
    text-align: left;
    line-height: 1;
    transition: all .625s;
  }

  .is-btn-more span:last-child {
    font-weight: 400;
    text-transform: lowercase;
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    margin-left: 3px;
  }

  .is-btn-more:hover {
    background: linear-gradient(180deg, #F7F2F2 0%, #F2F2F2 100%);
    box-shadow: 0px 1px 0px #D0C9C9;
    border-radius: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #DE3131;
    text-shadow: 0px 1px 0px #F1F1F1;
    transition: all .625s;
  }

  .is-btn-video {
    background: linear-gradient(180deg, #F86A6A 0%, #DE3131 100%);
    box-shadow: 0px 3px 0px #AF1A1A;
    border-radius: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: none;
    padding-right: .5em;
    padding-left: .9em;
    padding-bottom: .625em;
    max-width: 220px;
    display: inline-flex;
    text-align: left;
    line-height: 1;
    transition: all .625s;
  }

  .is-btn-video span:last-child {
    font-weight: 400;
    text-transform: lowercase;
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    margin-left: 3px;
  }

  .is-btn-video:hover {
    background: linear-gradient(180deg, #F86A6A 0%, #FA5B5B 100%);
    box-shadow: 0px 1px 0px #AF1A1A;
    border-radius: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #3F3E3E;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
    transition: all .625s;
  }

  .is-about__img {
    background-repeat: no-repeat !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center !important;
  }

  /* homePageCertifs component */

  .is-certifs .row {
    margin-left: 0;
    margin-right: 0;
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
  }

  .is-certifs-title {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    color: #3F3E3E;
    margin-left: .5em;
  }

  .is-certifs-item-block {
    background: #FFFFFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 2.5rem 2.625rem;
  }

  .is-certifs-item-text {
    margin-top: 1.25rem;
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;
    color: #3F3E3E;
  }

  /* feedbackTpl component */

  .is-feedback {
    padding-top: 5.625em;
    padding-bottom: 5.1em;
    background-repeat: no-repeat;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center;
  }

  .is-feedback h2 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 3.125rem;
  }

  .is-feedback h2 span {
    font-weight: 300;
  }

  .is-feedback input[type="text"], .is-feedback input[type="phone"] {
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    padding: .375rem 1.25rem !important;
    height: 54px;
    transition: all .05s;
  }

  .is-feedback textarea {
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    padding: 1.25rem !important;
    height: 54px;
    height: 120px;
  }

  .is-btn-feedback {
    background: linear-gradient(180deg, #4A4A4A 0%, #2C2C2C 100%);
    box-shadow: 0px 3px 0px #1F1F1F;
    border-radius: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    color: #FFFFFF;
    text-transform: none;
    transition: all .5s;
  }

  .is-btn-feedback:hover {
    background: linear-gradient(180deg, #4A4A4A 0%, #393939 100%);
    box-shadow: 0px 1px 0px #1F1F1F;
    border-radius: 5px;
    color: #fff;
    transition: all .5s;
  }

  .is-feedback label.custom-control-label {
    font-weight: 500;
    color: #fff;
  }

  .is-feedback label.custom-control-label a {
    color: #fff;
    transition: all .5s;
  }

  .is-feedback label.custom-control-label a:hover {
    text-decoration: underline;
    transition: all .5s;
  }

  .is-feedback input[type="text"]:focus, .is-feedback input[type="phone"]:focus, .is-feedback textarea:focus {
    border: 2px solid #3F3E3E;
    transition: all .05s;
    box-shadow: none;
  }

  /* BreadCrumbs component */

  .is-breadcrumb-list {
    margin-top: 1.9rem;
    border-bottom: 1px solid #E9E9E9;
  }

  .is-breadcrumb-list .breadcrumb {
    background-color: transparent;
    padding-bottom: 0;
    padding-left: 0;
  }

  .is-breadcrumb-list .breadcrumb li a {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #3F3E3E;
  }

  /* Services Item coponent */




  /* footerTpl component */
   #footer {
     background: #F1F1F1;
   }
